<a href="{{ story.url }}" class="grid-container grid-container--cards-a">
  <div class="g-card bg-pink c-story">
    <div class="card-content flex">
      <h3 class="link-white fs-500 text-white txt-dec-none">
        {{ story.data.title }}
      </h3>
      <p class="fs-300 txt-align-left text-white">
        {{ story.data.description }}
      </p>
      <p class="link-white flex-end text-white fs-500">More...</p>
    </div>
  </div>
  <picture class="c-story-picture">
    <source srcset="{{ story.data.image }}" type="image/webp" />
    <source srcset="{{ story.data.image }}" type="image/jpeg" />
    <img src="{{ story.data.image }}" alt="{{ story.data.imageAlt }}" />
  </picture>
</a>
