<footer class="grid-container grid-container--footer">
  <h1 class="text-white fs-600">
    Make a Difference through EPIC leadership
  </h1>
  <div class="footer-content flex flex-column">
    <ul class="social-links flex fs-500">
      <li>
        <a href="#" class="social-icon">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
      <li>
        <a class="social-icon" href="#">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li>
        <a class="social-icon" href="#">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
    </ul>
    <div class="sign-up-form flex flex-column text-white">
      <h2 class="suf-title fs-450">Get MAD and SIGN up!</h2>
      <form class="cta-form flex flex-column" name="sign-up" netlify="netlify">
        <div>
          <input id="full-name" type="text" placeholder="Full name" name="full-name" required="required"/>
        </div>
        <div>
          <input id="email" type="email" placeholder="Email" name="email" required="required"/>
        </div>
        <div class="btn-layer flex-center">
          <a class="text-black txt-dec-none fs-200 sign-up-btn uppercase" href="#">sign up</a>
        </div>
      </form>
    </div>
  </div>
  <p class="copyright text-white fs-200">
    Copyright &copy;
    <span class="year">2027</span>
    by Public Leadership
                    Foundation. All rights reserved
  </p>
</footer>
<!-- GRADIENT -->
<svg style="width: 0; height: 0; position: absolute" aria-hidden="true" focusable="false">
  <linearGradient id="my-cool-gradient">
    <stop offset="0%" stop-color="rgb(159, 208, 214)"/>
    <stop offset="100%" stop-color="rgb(229, 52, 170)"/>
  </linearGradient>
</svg>
<!-- SCRIPTS -->
<!-- ion-icon -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="nomodule" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>