<div class="container">
  <header class="primary-header flex">
    <div>
      <img src="./assets/images/Logo-header-white0.png" alt="public leadership foundation logo" class="logo"/>
    </div>
    <button class="mobile-nav-toggle" aria-controls="mainnav" aria-expanded="false">
      <span class="sr-only">Menu</span>
      <div class="menu-btn__burger"></div>
    </button>
    <nav>
      <ul id="mainnav" class="fs-300 uppercase mainnav text-white flex" aria-label="Main" data-visible="false">
        <li>
          <a href="index.html" aria-current="page">Home</a>
        </li>
        <li>
          <a href="events.html">Events</a>
        </li>
        <li>
          <a href="madacademy.html">MAD Academy</a>
        </li>
        <li>
          <a href="stories.html">Stories</a>
        </li>
        <li>
          <a href="community.html">Community</a>
        </li>
        <li>
          <a href="about.html">About</a>
        </li>
      </ul>
    </nav>
    <div class="btn-layer">
      <a class="text-black txt-dec-none fs-200 sign-up-btn sign-up-btn--header uppercase" href="#">sign up</a>
    </div>
  </header>