<div class="container">
  <header class="primary-header flex">
    <a href="/">
      <img
        src="/assets/images/Logo-header-white0.png"
        alt="public leadership foundation logo"
        class="logo"
      />
    </a>
    <button
      class="mobile-nav-toggle"
      aria-controls="mainnav"
      aria-expanded="false"
    >
      <span class="sr-only">Menu</span>
      <div class="menu-btn__burger"></div>
    </button>
    <nav>
      <ul
        id="mainnav"
        class="fs-300 uppercase mainnav text-white flex"
        aria-label="Main"
        data-visible="false"
        role="list"
      >
        <li>
          <a class="nav-link" href="/">Home</a>
        </li>
        <li>
          <a class="nav-link" href="/events/">Events</a>
        </li>
        <li>
          <a class="nav-link" href="/madacademy/">MAD Academy</a>
        </li>
        <li>
          <a class="nav-link" href="/stories/">Stories</a>
        </li>
        <li>
          <a class="nav-link" href="/community/">Community</a>
        </li>
        <li>
          <a class="nav-link" href="/about/">About</a>
        </li>
      </ul>
    </nav>
    <div class="btn-layer">
      <a
        class="text-black txt-dec-none fs-200 sign-up-btn sign-up-btn--header btn-blue uppercase"
        href="#"
        >sign up</a
      >
    </div>
  </header>
</div>
