@use "../base";
@use "../layout";

@media (min-width: 45em) {
  .grid-container--community {
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: layout.$standardgrid;
    grid-template-areas: ". intro intro ." ". join join .";
  }
}
