@use "../base";
@use "../layout";

.story-article {
  padding-inline: 1.5rem;
  text-align: left;
}

@media (min-width: 45em) {
  .grid-container--story {
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: layout.$standardgrid;
  }

  .story-article {
    text-align: left;
    grid-column: 2/4;
    padding-inline: 0;
  }
}
