@use "../base";

.btn-layer {
  display: inline-flex;
  transition: 0.25s;
  z-index: 1;
}

.sign-up-btn {
  position: relative;
  padding: 0.7rem 1.4rem;
  font-weight: 700;
  align-self: center;
  background: var(--clr-blue);
  cursor: pointer;
  transition: box-shadow ease-out 0.4s;
  box-shadow: inset 0 0 0 0 var(--clr-pink);
}

.sign-up-btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 3px solid var(--clr-pink);
  top: 5px;
  left: 5px;
  z-index: -1;
}

.sign-up-btn:active {
  transform: translateX(5px) translateY(5px);
}

.sign-up-btn:active::after {
  // transform: translateX(-5px) translateY(-5px);
  display: none;
}

.sign-up-btn:hover {
  box-shadow: inset 400px 0 0 0 var(--clr-pink);
  color: white;
}

/* Black Button */
.btn-black {
  --clr-blue: var(--clr-black);
}

/* Pink Button */
.btn-pink {
  background: var(--clr-pink);
  &::after {
    border: 3px solid var(--clr-white);
  }
}

.link-black:hover,
.link-black:active {
  color: var(--clr-pink);
  text-decoration: underline 3px solid var(--clr-pink);
}

.link-pink {
  font-weight: 700;
  &:hover,
  &:active {
    color: var(--clr-black);
    text-decoration: underline 3px solid var(--clr-black);
  }
}

.link-white {
  font-weight: 700;
  &:hover,
  &:active {
    color: var(--clr-blue);
    text-decoration: underline 3px solid var(--clr-blue);
  }
}

/* ******************** */
/* MEDIA QUERIES */
/* ******************** */

@media (max-width: 65em) {
  .sign-up-btn--header {
    display: none;
  }
}

@media (min-width: 45em) {
  .btn-more-projects {
    grid-area: btn-more-projects;
  }
}
