@use "../base";
@use "../layout/hero";

.social-links {
  list-style: none;
  align-items: center;
  --gap: 1.5rem;
  bottom: 1.5rem;
  right: 2rem;
  line-height: 0.8rem;
}

.social-links--home {
  bottom: -4rem;
  right: 0;
}

.social-links--other {
  padding: 0.7rem 1.4rem;
  background-color: var(--clr-black);
  border-radius: 9px;
}

// .social-icon {
//   fill: url(#my-cool-gradient) var(--clr-pink);
// }

.social-icon .fa-brands {
  font-size: 30px;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-icon .fa-brands {
  font-size: 30px;
  background: linear-gradient(to right, var(--clr-blue), var(--clr-pink));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
