---
title: About
layout: 'base.njk'
---

<section>
  <picture class="hero-picture">
    <source srcset="/assets/images/story/Rune-ByExpertExplains.webp" type="image/webp"/>
    <source srcset="/assets/images/story/Rune-ByExpertExplains.jpg" type="image/jpeg"/>
    <img src="assets/images/story/Rune-ByExpertExplains.jpg" alt="hero picture"/>
    <ul class="social-links--other social-links absolute flex fs-500">
      <li>
        <a class="social-link" href="#">
          <a href="#" class="social-icon">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </a>
      </li>
      <li>
        <a class="social-icon" href="#">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li>
        <a class="social-icon" href="#">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
    </ul>
  </picture>
</section>
<main class="grid-container--about">
  <article class="txt-format about-content">
    <h1 class="fs-600">About Public Leadership Foundation</h1>
    <p>
      We live in exciting times of change and great opportunities, and together we can address the many challenges faced by
      society today. To truly change, our attention should be towards internal goods – towards purpose beyond profit (Collins
      and Porras, 2005) – towards what is good for the whole community, society and globe by focusing on areas such as
      education, health, equality, sustainability (economic, socio-cultural and environmental), preventing wars, saving lives
      and so on. This is not only a pragmatic and realistic view, it is also the only real option moving forward. Thinking
      that status quo is sustainable is naïve. Together we can and will Make A Difference through developing and contributing
      to the new kind of leadership required. Such MAD leadership is not performed by a small, elite group of usual suspects,
      but by all of us. By you. Our vision is for the world to be a better, more equal, fair and sustainable place for all,
      and we can all contribute to this through actively engaging in MAD leadership.
    </p>
    <h1 class="fs-600">Our Mission</h1>
    <p>
      Our leadership philosophy is based on the notion that the world can be a better, more equal, fair, and sustainable place
      for all its beings and for the earth self if we focus on delivering on internal goods, and that we all have a
      responsibility to Make A Difference – to be MAD – to achieve this. Such difference will only happen through active
      leadership performed by individuals working together towards solutions to societal challenges. We seek to not only
      encourage such leadership, but to identify, develop and support it in the broader MAD Movement.
    </p>
  </article>
  <article class="txt-format bg-pink text-white phi-content">
    <h1 class="fs-600">Philosophy</h1>
    <p>
      We define leadership as action and behaviour towards fulfilling purpose together. It is a shared responsibility for a
      journey towards continued societal development. Leadership creates leaders, not the other way around (Barker, 1997 and
      2001). Our leadership philosophy is based on the notion that the world can be a better, more equal, fair, and
      sustainable place for all its beings and for the earth self if we focus on delivering on internal goods, and that we all
      have a responsibility to Make A Difference – to be MAD – to achieve this. Such difference will only happen through
      active leadership performed by individuals working together towards solutions to societal challenges. We seek to not
      only encourage such leadership, but to identify, develop and support it in the broader MAD Movement. On individual,
      group, organisational and institutional levels this happens through a focus on EPIC leadership principles: Energy We all
      have energy, and our focus is on how to channel it in an effective and efficient way, how to recharge and stay
      energised, and how to energise those around us. Purpose We believe that a clear purpose not only leads to healthier and
      longer lives, but that it supports individual, group, organisational and institutional fulfilment and success. Our focus
      is to help identify and develop such purpose, and support work towards fulfilling it. Identity Be who you are best:
      yourself. Everyone else is taken. Our focus is on developing every person’s identity, individuality and potential, and
      to help everyone to be true to themselves. Our focus is not on molding individuals to fit preconceived leadership skills
      and traits. Courage Our focus is on developing the courage to be ourselves, to contribute to leadership, to ask the
      questions that need to be asked, to make mistakes and learn from them, and to believe in ourselves and those around us.
    </p>
  </article>
</main>