<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta
    name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"></script>
    <!-- owl carousel -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"/> <!-- CSS -->
    <link
    rel="stylesheet" href="css/style.css"/> <!-- OWL Carousel -->
    <link
    rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"/>
    <!-- Javascript -->
    <script src="navigation.js" defer></script>
    <script src="owlcarousel.js" defer></script>
    <script src="general.js" defer></script>
    <title>Public Leadership Foundation</title>
  </head>
  <body>
    <div class="container">
      <header class="primary-header flex">
        <div>
          <img src="./assets/images/Logo-header-white0.png" alt="public leadership foundation logo" class="logo"/>
        </div>
        <button class="mobile-nav-toggle" aria-controls="mainnav" aria-expanded="false">
          <span class="sr-only">Menu</span>
          <div class="menu-btn__burger"></div>
        </button>
        <nav>
          <ul id="mainnav" class="fs-300 uppercase mainnav text-white flex" aria-label="Main" data-visible="false">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="events.html" aria-current="page">Events</a>
            </li>
            <li>
              <a href="madacademy.html">MAD Academy</a>
            </li>
            <li>
              <a href="stories.html">Stories</a>
            </li>
            <li>
              <a href="community.html">Community</a>
            </li>
            <li>
              <a href="about.html">About</a>
            </li>
          </ul>
        </nav>
        <div class="btn-layer">
          <a class="text-black txt-dec-none fs-200 sign-up-btn sign-up-btn--header uppercase" href="#">sign up</a>
        </div>
      </header>
    </div>
    <section>
      <picture class="hero-picture">
        <source srcset="/assets/images/event/ANVR_programma83.webp" type="image/webp"/>
        <source srcset="/assets/images/event/ANVR_programma83.jpg" type="image/jpeg"/>
        <img src="/assets/images/event/ANVR_programma83.jpg" alt="hero picture"/>
        <ul class="social-links social-links--other absolute flex fs-500">
          <li>
            <a class="social-link" href="#">
              <ion-icon class="social-icon" name="logo-instagram"></ion-icon>
            </a>
          </li>
          <li>
            <a class="social-link" href="#">
              <ion-icon class="social-icon" name="logo-facebook"></ion-icon>
            </a>
          </li>
          <li>
            <a class="social-link" href="#">
              <ion-icon class="social-icon" name="logo-twitter"></ion-icon>
            </a>
          </li>
        </ul>
      </picture>
    </section>
    <main>
      <div class="grid-container--event-intro grid-container">
        <section class="intro flex">
          <article class="intro-txt flex">
            <h1 class="fs-600">Our events</h1>
            <p class="fs-300">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
              book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
              unchanged.
            </p>
          </article>
          <div class="btn-layer">
            <a class="text-white txt-dec-none fs-200 sign-up-btn btn-black uppercase" href="#">EVENTS</a>
          </div>
        </div>
      </section>
      <section class="events-section margin-top-3 bg-blue">
        <ul class="events-list-container">
          <li>
            <a href="event-page.html" class="event text-black grid-container">
              <picture class="event-picture">
                <source srcset="/assets/images/project/academy.webp" type="image/webp"/>
                <source srcset="/assets/images/project/academy.jpg" type="image/jpeg"/>
                <img src="assets/images/project/academy.jpg" alt="academy picture"/>
              </picture>
              <div class="event-info txt-align-left flex">
                <p class="date uppercase">WO 19 OKT 2022</p>
                <h3 class="fs-400">TED Talk: Rene de Jong</h3>
                <p class="event-sub-txt fs-300">
                  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="event-page.html" class="event text-black grid-container">
              <picture class="event-picture">
                <source srcset="/assets/images/project/academy.webp" type="image/webp"/>
                <source srcset="/assets/images/project/academy.jpg" type="image/jpeg"/>
                <img src="assets/images/project/academy.jpg" alt="academy picture"/>
              </picture>
              <div class="event-info txt-align-left flex">
                <p class="date uppercase">WO 19 OKT 2022</p>
                <h3 class="fs-400">TED Talk: Rene de Jong</h3>
                <p class="event-sub-txt fs-300">
                  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="event-page.html" class="event text-black grid-container">
              <picture class="event-picture">
                <source srcset="/assets/images/project/academy.webp" type="image/webp"/>
                <source srcset="/assets/images/project/academy.jpg" type="image/jpeg"/>
                <img src="assets/images/project/academy.jpg" alt="academy picture"/>
              </picture>
              <div class="event-info txt-align-left flex">
                <p class="date uppercase">WO 19 OKT 2022</p>
                <h3 class="fs-400">TED Talk: Rene de Jong</h3>
                <p class="event-sub-txt fs-300">
                  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="event-page.html" class="event text-black grid-container">
              <picture class="event-picture">
                <source srcset="/assets/images/project/academy.webp" type="image/webp"/>
                <source srcset="/assets/images/project/academy.jpg" type="image/jpeg"/>
                <img src="assets/images/project/academy.jpg" alt="academy picture"/>
              </picture>
              <div class="event-info txt-align-left flex">
                <p class="date uppercase">WO 19 OKT 2022</p>
                <h3 class="fs-400">TED Talk: Rene de Jong</h3>
                <p class="event-sub-txt fs-300">
                  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="event-page.html" class="event text-black grid-container">
              <picture class="event-picture">
                <source srcset="/assets/images/project/academy.webp" type="image/webp"/>
                <source srcset="/assets/images/project/academy.jpg" type="image/jpeg"/>
                <img src="assets/images/project/academy.jpg" alt="academy picture"/>
              </picture>
              <div class="event-info txt-align-left flex">
                <p class="date uppercase">WO 19 OKT 2022</p>
                <h3 class="fs-400">TED Talk: Rene de Jong</h3>
                <p class="event-sub-txt fs-300">
                  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                </p>
              </div>
            </a>
          </li>
        </ul>
        <div class="btn-layer more-events">
          <a class="text-white txt-dec-none fs-200 sign-up-btn btn-black uppercase" href="#">show more events</a>
        </div>
      </section>
    </main>
    <footer class="grid-container grid-container--footer">
      <h1 class="text-white fs-600">
        Make a Difference through EPIC leadership
      </h1>
      <div class="footer-content flex flex-column">
        <ul class="social-links social-links--other flex fs-500">
          <li>
            <a class="social-link" href="#">
              <ion-icon class="social-icon" name="logo-instagram"></ion-icon>
            </a>
          </li>
          <li>
            <a class="social-link" href="#">
              <ion-icon class="social-icon" name="logo-facebook"></ion-icon>
            </a>
          </li>
          <li>
            <a class="social-link" href="#">
              <ion-icon class="social-icon" name="logo-twitter"></ion-icon>
            </a>
          </li>
        </ul>
        <div class="sign-up-form flex flex-column text-white">
          <h2 class="suf-title fs-450">Get MAD and SIGN up!</h2>
          <form class="cta-form flex flex-column" name="sign-up" netlify>
            <div>
              <input id="full-name" type="text" placeholder="Full name" name="full-name" required/>
            </div>
            <div>
              <input id="email" type="email" placeholder="Email" name="email" required/>
            </div>
            <div class="btn-layer flex-center">
              <a class="text-black txt-dec-none fs-200 sign-up-btn uppercase" href="#">sign up</a>
            </div>
          </form>
        </div>
      </div>
      <p class="copyright text-white fs-200">
        Copyright &copy;
        <span class="year">2027</span>
        by Public Leadership
                        Foundation. All rights reserved
      </p>
    </footer>
    <!-- GRADIENT -->
    <svg style="width: 0; height: 0; position: absolute" aria-hidden="true" focusable="false">
      <linearGradient id="my-cool-gradient">
        <stop offset="0%" stop-color="var(--clr-blue)"/>
        <stop offset="100%" stop-color="var(--clr-pink)"/>
      </linearGradient>
    </svg>
    <!-- SCRIPTS -->
    <!-- ion-icon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>