---
title: Events
layout: 'base.njk'
---

<section>
  <picture class="hero-picture">
    <source srcset="/assets/images/event/ANVR_programma83.webp" type="image/webp"/>
    <source srcset="/assets/images/event/ANVR_programma83.jpg" type="image/jpeg"/>
    <img src="/assets/images/event/ANVR_programma83.jpg" alt="hero picture"/>
    <ul class="social-links--other social-links absolute flex fs-500">
      <li>
        <a class="social-link" href="#">
          <a href="#" class="social-icon">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </a>
      </li>
      <li>
        <a class="social-icon" href="#">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li>
        <a class="social-icon" href="#">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
    </ul>
  </picture>
</section>
<main>
  <div class="grid-container--event-intro grid-container">
    <section class="intro flex">
      <article class="intro-txt flex">
        <h1 class="fs-600">Our events</h1>
        <p class="fs-300">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
          unchanged.
        </p>
      </article>
      <div class="btn-layer">
        <a class="text-white txt-dec-none fs-200 sign-up-btn btn-black uppercase" href="#">EVENTS</a>
      </div>
    </div>
  </section>
  <section class="events-section margin-top-3 bg-blue">
    <ul class="events-list-container">
      <li>
        <a href="event-page.html" class="event text-black grid-container">
          <picture class="event-picture">
            <source srcset="/assets/images/project/academy.webp" type="image/webp"/>
            <source srcset="/assets/images/project/academy.jpg" type="image/jpeg"/>
            <img src="assets/images/project/academy.jpg" alt="academy picture"/>
          </picture>
          <div class="event-info txt-align-left flex">
            <p class="date uppercase">WO 19 OKT 2022</p>
            <h3 class="fs-400">TED Talk: Rene de Jong</h3>
            <p class="event-sub-txt fs-300">
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
            </p>
          </div>
        </a>
      </li>
      <li>
        <a href="event-page.html" class="event text-black grid-container">
          <picture class="event-picture">
            <source srcset="/assets/images/project/academy.webp" type="image/webp"/>
            <source srcset="/assets/images/project/academy.jpg" type="image/jpeg"/>
            <img src="assets/images/project/academy.jpg" alt="academy picture"/>
          </picture>
          <div class="event-info txt-align-left flex">
            <p class="date uppercase">WO 19 OKT 2022</p>
            <h3 class="fs-400">TED Talk: Rene de Jong</h3>
            <p class="event-sub-txt fs-300">
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
            </p>
          </div>
        </a>
      </li>
      <li>
        <a href="event-page.html" class="event text-black grid-container">
          <picture class="event-picture">
            <source srcset="/assets/images/project/academy.webp" type="image/webp"/>
            <source srcset="/assets/images/project/academy.jpg" type="image/jpeg"/>
            <img src="assets/images/project/academy.jpg" alt="academy picture"/>
          </picture>
          <div class="event-info txt-align-left flex">
            <p class="date uppercase">WO 19 OKT 2022</p>
            <h3 class="fs-400">TED Talk: Rene de Jong</h3>
            <p class="event-sub-txt fs-300">
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
            </p>
          </div>
        </a>
      </li>
      <li>
        <a href="event-page.html" class="event text-black grid-container">
          <picture class="event-picture">
            <source srcset="/assets/images/project/academy.webp" type="image/webp"/>
            <source srcset="/assets/images/project/academy.jpg" type="image/jpeg"/>
            <img src="assets/images/project/academy.jpg" alt="academy picture"/>
          </picture>
          <div class="event-info txt-align-left flex">
            <p class="date uppercase">WO 19 OKT 2022</p>
            <h3 class="fs-400">TED Talk: Rene de Jong</h3>
            <p class="event-sub-txt fs-300">
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
            </p>
          </div>
        </a>
      </li>
      <li>
        <a href="event-page.html" class="event text-black grid-container">
          <picture class="event-picture">
            <source srcset="/assets/images/project/academy.webp" type="image/webp"/>
            <source srcset="/assets/images/project/academy.jpg" type="image/jpeg"/>
            <img src="assets/images/project/academy.jpg" alt="academy picture"/>
          </picture>
          <div class="event-info txt-align-left flex">
            <p class="date uppercase">WO 19 OKT 2022</p>
            <h3 class="fs-400">TED Talk: Rene de Jong</h3>
            <p class="event-sub-txt fs-300">
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
            </p>
          </div>
        </a>
      </li>
    </ul>
    <div class="btn-layer more-events">
      <a class="text-white txt-dec-none fs-200 sign-up-btn btn-black uppercase" href="#">show more events</a>
    </div>
  </section>
</main>