---
title: Public Leadership Foundation
layout: 'base.njk'
---

</div>
<section class="hero-section--home hero-section flex">
  <div class="hero-container--home flex">
    <h1 class="text-white fs-600">
      Make a Difference through EPIC leadership
    </h1>
    <div class="btn-layer">
      <a class="text-black btn-blue txt-dec-none fs-200 sign-up-btn uppercase" href="#">sign up</a>
    </div>
    <ul class="social-links--home social-links absolute flex fs-500">
      <li>
        <a class="social-link" href="#">
          <a href="#" class="social-icon">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </a>
      </li>
      <li>
        <a class="social-icon" href="#">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li>
        <a class="social-icon" href="#">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
    </ul>
  </div>
</section>
<main class="grid-container grid-container--home">
  <section class="intro flex">
    <article class="intro-txt flex">
      <h2 class="fs-450">What is Public Leadership Foundation?</h2>
      <p class="fs-300">
        Our vision is for the world to be a better, more equal, fair and sustainable place for all, and we can all contribute to
        this through actively engaging in MAD leadership.
      </p>
    </article>
    <div class="btn-layer">
      <a class="text-white txt-dec-none fs-200 sign-up-btn btn-black uppercase" href="/about/">About</a>
    </div>
  </section>
  <section class="grid-container grid-container--cards-h">
    <div class="g-card bg-blue c-event">
      <div class="card-content flex">
        <h3>
          <a class="link-black fs-500 text-black txt-dec-none" href="#">Events</a>
        </h3>
        <p class="fs-300 txt-align-left text-black">
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
          from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
          looked up one of the more obscure Latin words.
        </p>
        <a class="link-pink flex-end text-pink fs-500" href="#">More...</a>
      </div>
    </div>
    <div class="iframe-container c-video">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/Nno1faLhoWk"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <picture class="academy-picture">
      <source srcset="/assets/images/project/academy.webp" type="image/webp"/>
      <source srcset="/assets/images/project/academy.jpg" type="image/jpeg"/>
      <img src="assets/images/project/academy.jpg" alt="academy picture"/>
    </picture>
    <div class="g-card bg-pink text-white c-academy">
      <div class="card-content flex">
        <h3>
          <a class="link-white text-white fs-500 txt-dec-none" href="#">MAD Acadamy</a>
        </h3>
        <p class="fs-300 txt-align-left">
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
          from 45 BC, making it over 2000 years old. Richard McClintock a Latin professor at Hampden-Sydney College in Virginia,
          looked up one of the more obscure Latin words,
        </p>
        <a class="link-white flex-end text-white fs-500" href="#">More...</a>
      </div>
    </div>
    <div class="g-card bg-blue c-join">
      <div class="card-content flex">
        <h3>
          <a class="link-black fs-500 text-black txt-dec-none" href="#">Join our community</a>
        </h3>
        <div class="wrapper">
          <div class="carousel owl-carousel">
            <img class="partner" src="./assets/images/community/microsoft_PNG.png" alt="microsoft-logo"/>
            <img src="/assets/images/community/microsoft_PNG.png" alt="microsoft-logo"/>
            <img src="/assets/images/community/microsoft_PNG.png" alt="microsoft-logo"/>
            <img src="/assets/images/community/microsoft_PNG.png" alt="microsoft-logo"/>
          </div>
        </div>
        <div class="btn-layer flex-center">
          <a class="text-white txt-dec-none fs-200 sign-up-btn btn-black uppercase" href="#">Join</a>
        </div>
      </div>
    </div>
  </section>
</main>
<section class="grid-container featured-projects grid-container--ftd-projects1">
  <h3 class="ftd-projects-title fs-500">Featured projects</h3>
  <ul class="grid-container featured-list-container">
    <li>
      <a href="/project/" class="project flex flex-column">
        <picture class="project-picture">
          <source srcset="/assets/images/project/academy.webp" type="image/webp"/>
          <source srcset="/assets/images/project/academy.jpg" type="image/jpeg"/>
          <img src="assets/images/project/academy.jpg" alt="academy picture"/>
        </picture>
        <div class="project-txt flex flex-column">
          <h3 class="flex-start fs-400 project-title">TED talk</h3>
          <p class="fs-300 txt-align-left">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          </p>
        </div>
      </a>
    </li>
    <li>
      <a href="/project/" class="project flex flex-column">
        <picture class="project-picture">
          <source srcset="/assets/images/project/academy.webp" type="image/webp"/>
          <source srcset="/assets/images/project/academy.jpg" type="image/jpeg"/>
          <img src="assets/images/project/academy.jpg" alt="academy picture"/>
        </picture>
        <div class="project-txt flex flex-column">
          <h3 class="flex-start fs-400 project-title">TED talk</h3>
          <p class="fs-300 txt-align-left">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          </p>
        </div>
      </a>
    </li>
    <li>
      <a href="/project/" class="project flex flex-column">
        <picture class="project-picture">
          <source srcset="/assets/images/project/academy.webp" type="image/webp"/>
          <source srcset="/assets/images/project/academy.jpg" type="image/jpeg"/>
          <img src="assets/images/project/academy.jpg" alt="academy picture"/>
        </picture>
        <div class="project-txt flex flex-column">
          <h3 class="flex-start fs-400 project-title">TED talk</h3>
          <p class="fs-300 txt-align-left">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          </p>
        </div>
      </a>
    </li>
  </ul>
  <div class="btn-layer flex-center btn-more-projects">
    <a class="text-white txt-dec-none fs-200 sign-up-btn btn-black uppercase" href="#">More Projects</a>
  </div>
</section>