---
title: MAD Academy
layout: 'base.njk'
---

<section>
  <picture class="hero-picture">
    <source srcset="/assets/images/academy/merijn.webp" type="image/webp"/>
    <source srcset="/assets/images/academy/merijn.jpg" type="image/jpeg"/>
    <img src="/assets/images/academy/merijn.jpg" alt="hero picture"/>
    <ul class="social-links social-links--other absolute flex fs-500">
      <li>
        <a class="social-link" href="#">
          <a href="#" class="social-icon">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </a>
      </li>
      <li>
        <a class="social-icon" href="#">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li>
        <a class="social-icon" href="#">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
    </ul>
  </picture>
</section>
<main>
  <div class="grid-container grid-container--academy">
    <section class="intro flex">
      <article class="intro-txt flex">
        <h2 class="fs-600">MAD Academy</h2>
        <p class="fs-300">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
          unchanged.
        </p>
      </article>
      <div class="btn-layer">
        <a class="text-white txt-dec-none fs-200 sign-up-btn btn-black uppercase" href="#">our workshops</a>
      </div>
    </section>
    <section class="grid-container grid-container--cards-a">
      <div class="g-card bg-pink c-story">
        <div class="card-content flex">
          <h3>
            <a class="link-white fs-500 text-white txt-dec-none" href="#">Eva's Story</a>
          </h3>
          <p class="fs-300 txt-align-left text-white">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
            from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
            looked up one of the more obscure Latin words.
          </p>
          <a class="link-white flex-end text-white fs-500" href="#">More...</a>
        </div>
      </div>
      <picture class="c-story-picture">
        <source srcset="/assets/images/story/Eva-Kleingeld2.webp" type="image/webp"/>
        <source srcset="/assets/images/story/Eva-Kleingeld2.jpg" type="image/jpeg"/>
        <img src="assets/images/story/Eva-Kleingeld2.jpg" alt="story picture"/>
      </picture>
    </section>
  </div>
  <section class="events-section margin-top-3">
    <ul class="events-list-container">
      {%- for event in collections.workshop -%}
        {% include 'event-snippet.njk' %}
      {%- endfor -%}
    </ul>
    <div class="btn-layer more-events">
      <a class="text-white txt-dec-none fs-200 sign-up-btn btn-black uppercase" href="#">show more workshops</a>
    </div>
  </section>
</main>