---
title: Stories
layout: 'base.njk'
---

<main class="grid-container grid-container--stories">
  <h1 class="title-stories">Our Stories</h1>
  <ul class="stories-container">
    {%- for story in collections.story -%}
      {% include 'story-snippet.njk' %}
    {%- endfor -%}
  </ul>
</main>